<button id="dropdown-button" class="dropdown-button btn" data-activates="point-info">
    <i class="large mdi-action-list"></i>
</button>

<!-- Dropdown Structure -->
<div id="point-info" class='dropdown-content'>
    {{title}}<br/>
    {{description}}<br/>
    <audio id="player" ng-src="{{route.points[currentPosition].musicUrl}}"></audio><br/>
    <button class="btn control-button" onclick="document.getElementById('player').play()">Play</button><br/>
    <!-- <button class="btn control-button" onclick="document.getElementById('player').pause()">Pause</button><br/> -->
    <p class="volume-control">
        <input id="volume-control" type="range" id="test5" min="0" max="1" step="0.1"
            onchange="document.getElementById('player').volume = document.getElementById('volume-control').value" />
    </p>
</div>

<div>
    <button id="nextPointButton" class="btn control-button" ng-click="next()">
        <i class="large mdi-hardware-keyboard-arrow-right"></i>
    </button>
    <button id="previousPointButton" class="btn control-button" ng-click="previous()">
        <i class="large mdi-hardware-keyboard-arrow-left"></i>
    </button>
</div>

<div class="col s12 m2" >
    <div id="map" class="show-me-small z-depth-3"></div>
</div>

<div id="panorama" class="map-element"></div>

<link rel="stylesheet" href="browser.css">

<script>
    $('.dropdown-button').dropdown({
                inDuration: 300,
                outDuration: 225,
                constrain_width: false, // Does not change width of dropdown to that of the activator
                gutter: 0, // Spacing from edge
                belowOrigin: true // Displays dropdown below the button
            }
    );
</script>
